<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/order" method="POST">
     <div class="form-group">
         <input type="radio" name="baicai" value="10">白菜  10元<br>
         <input type="radio" name="rou" value="15">小炒肉  15元<br>
         <input type="radio" name="chang" value="12">火腿肠  12元<br>
     </div>
     <button type="submit">提交</button>
    </form>
</body>
</html>